#root {
  height: 100vh;
  width: 100vw;
  background-color: #ddeefc;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Roboto";
}

@import url(./blocks/CardForm.css);
